body{
	background-color:#fff;
	margin:0;padding:0px;
	font-size:13px;
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}
body .box0{
	max-width:1400px;
	margin:auto;
	padding:0px 25px;
}




.a1{
	color:#00cab3;
}



.bt1 {
	outline: none;
	-moz-box-shadow:inset 0px 34px 0px -9px #00cab3;
	-webkit-box-shadow:inset 0px 34px 0px -9px #00cab3;
	box-shadow:inset 0px 34px 0px -9px #00cab3;
	background-color:#00b09c;
	border:1px solid #00b09c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:400;
	padding:10px 35px;
	text-decoration:none;
	margin:0px;

}
.bt1:hover {
	background-color:#00cab3;
}
.bt1:active {
	position:relative;
	top:1px;
}



















header{
	height:130px;
	text-align:center;
}

header .line{
	background-color:#424a51;

}
header .line .box0{
	height:30px;
}
header .line a{
	
	display:inline-block;
	outline: none;
	text-decoration:none;
	color:#fff;
	padding:8px 25px 7px 50px;;
	//background-color:#777f8c;
}
header .line a:hover{
	background-color:#777f8c;


}


header .line .l_0{
	float:left;
	background-image:url(./img/mest.png);
	background-repeat:no-repeat;
	background-position:20px 6px;
}
header .line .r_0{
	float:right;
	background-image:url(./img/phone2.png);
	background-repeat:no-repeat;
	background-position:18px 6px;

}
header .line .l_1{
	margin:0px 270px 0px 0px;
	background-image:url(./img/mail.png);
	background-repeat:no-repeat;
	background-position:18px 8px;
}
header .line .r_1{
	background-image:url(./img/phone.png);
	background-repeat:no-repeat;
	background-position:20px 7px;
}






header .home{
	float:left;
	vertical-align: middle;
	outline: none;
	text-decoration:none;
	//background-color:#dedede;
	display: inline-block;
	height:80px;
	width:300px;
	padding:10px 20px;

}
header .home img{
	height:80px;
	vertical-align: middle;

}

header .home h1{
	display:inline-block;
	vertical-align: middle;
	color:#424a51;
	margin:0px 0px 0px 20px;
	font-size:30px;
	font-weight: 400;
}







header .right{
	vertical-align: middle;
	float:right;
	outline: none;
	text-decoration:none;
	//background-color:#dedede;
	display: inline-block;
	height:100px;
	width:340px;
	padding:0px;
	background-image:url(./img/go.png);
}
header .right:hover{
	background-image:url(./img/go_hover.png);
}




header .box0 nav{
	vertical-align: middle;
	display:inline-block;
	
	margin-top:15px;
}

header .box0 nav a{
	display:inline-block;
	color:#000;
	outline: none;
	text-decoration:none;
	font-size:18px;
	font-weight:400;
	margin:20px;
	padding:5px 3px;
	//background-color:#e6e6e6;
	border-style:solid;
	border-width:0px 0px 2px 0px;
	border-color:#fff;
}
header .box0 nav a:hover{
	border-color:#000;
}


























.main{

}


.main .slider0{
	background-image:url(./img/slider0.jpg);
	background-size: cover;
	display:block;
	height:500px;
	
	transition: background-position 25s;
}
.main .slider0:hover{
	background-position:-250px -400px;
}


.main .slider0 .bl_l{
	display:inline-block;
	vertical-align: bottom;
	color:#fff;
	font-size:30px;
	font-weight: 400;
	height:500px;
	
}
.main .slider0 .bl_l h4{
	font-weight: 400;
}
.main .slider0 .bl_l p{
	line-height:1.5;
	font-size:20px;
}
.main .slider0 .bl_r{
	display:inline-block;
	max-width:900px;

}
.main .slider0 .bl_r img{
	width:100%;
	vertical-align: bottom;
}